<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lamdag.app.vineyard_2">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="lamdag.app.vineyard_2.OfflineActivity"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="lamdag.app.vineyard_2.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="lamdag.app.vineyard_2.AccountLoginActivity" />
        <activity android:name="lamdag.app.vineyard_2.SignupActivity" />
        <activity android:name="lamdag.app.vineyard_2.ResetPasswordActivity" />
        <activity android:name="lamdag.app.vineyard_2.AccountSettingsActivity" />
        <activity android:name="lamdag.app.vineyard_2.AccountSettingsActivity_Google" />
        <activity android:name="lamdag.app.vineyard_2.LandingpageActivity" />
        <activity android:name="lamdag.app.vineyard_2.LandingpageActivity_User" />
        <activity android:name="lamdag.app.vineyard_2.LandingpageActivity_Google" />
        <activity android:name="lamdag.app.vineyard_2.SpecificRecipe_User" />
        <activity android:name="lamdag.app.vineyard_2.SpecificRecipe"></activity>
    </application>

</manifest>